name: CI/CD

on:
  pull_request:
    types:
      - closed

jobs:
  build-and-deploy-dev-to-master:
    if: |
      github.event.pull_request.merged == true &&
      github.event.pull_request.base.ref == 'main' && 
      github.event.pull_request.head.ref == 'dev'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure SSH
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY_PROD }}

      - name: create .ssh/known_hosts
        run: |
            echo "Existing known_hosts:"
            cat ~/.ssh/known_hosts
            ssh-keyscan -H -t rsa -v ${{ secrets.SERVER_IP_PROD }} >> ~/.ssh/known_hosts
            echo "Updated known_hosts:"
            cat ~/.ssh/known_hosts

      - name: SSH-PULL-BUILD-UP
        run: |
          ssh -t -t -p ${{ secrets.SSH_PORT_PROD }} ${{ secrets.SERVER_USERNAME_PROD }}@${{ secrets.SERVER_IP_PROD }} '
            cd dropcenter-api-v2 && git pull && sudo docker compose -f docker-compose.prod.yml up --build -d